.pSetupText{
    color: #1D1F1D;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 400;
}

.hSetupText{
    color: #1D1F1D;
    text-transform: uppercase;
    font-weight: 500;
    line-height: 1.1;
    font-family: 'Oswald', sans-serif;
}